@font-face {
  font-family: 'PublicoBanner_Black';
  src: url(../fonts/PublicoBanner-Black.otf) format('truetype')
}

@font-face {
  font-family: 'Graphik_Regular';
  src: url(../fonts/Graphik-Regular.otf) format('truetype')
}

@font-face {
  font-family: 'Graphik_Medium';
  src: url(../fonts/Graphik-Medium.otf) format('truetype')
}

@font-face {
  font-family: 'Graphik_Semibold';
  src: url(../fonts/Graphik-Semibold.otf) format('truetype')
}

@font-face {
  font-family: 'Graphik_Bold';
  src: url(../fonts/Graphik-Bold.otf) format('truetype')
}
